.hero {
  background: url("../../assets/HeroSide.png") no-repeat;
  background-size: cover;
  height: 35rem;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 100px 30px;
}

.hero-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-contents h1 {
  width: 40%;
  font-size: 40px;
  margin-bottom: 10px;
  animation: floatLeft 1s ease-out forwards;
}

.hero-contents p {
  font-size: 24px;
  width: 60%;
  margin-bottom: 40px;
  animation: floatRight 1s ease-out forwards;
}

.emergency-contact {
  background: #344c3d;
  color: white;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
  border: none;
  outline: none;
  /* margin-top: 30px; */
  /* animation: floatRight 1s ease-out forwards; */
}

@keyframes floatLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes floatRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes floatUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* media queries  */

@media (min-width: 320px) and (max-width: 480px) {
  .hero {
    margin-top: 10rem;
    width: 72rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .hero {
    margin-top: 10rem;
    width: 72rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .hero {
    margin-top: 10rem;
    width: 72rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero {
    margin-top: 10rem;
    width: 72rem;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .hero {
    margin-top: 10rem;
    width: 74rem;
  }

  @media (min-width: 1281px) {
    /* CSS */
  }
}
