.survival {
  margin-top: 4rem;
  padding: 0 2rem;
}

.survival-top {
  background-image: url("../../../assets/support.png");
  background-size: cover;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.survival-top h1 {
  font-size: 3rem;
  color: white;
}

.survival-bottom {
  padding: 3rem 4rem;
}

.survival-bottom h1 {
  /* text-align: center; */
  text-transform: uppercase;
}

.contentt {
  margin-top: 2rem;
}

.contentt h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.contentt p {
  font-size: 1.2rem;
  width: 95%;
}

.contentt:hover h2 {
  color: #344c3d;
  width: fit-content;
  border-bottom: 3px solid #344c3d;
}

@media (min-width: 320px) and (max-width: 480px) {
  .survival {
    width: 72rem;
  }

  .survival h1 {
    font-size: 3rem;
  }

.survival-bottom{
  margin-bottom: 50rem;
}

  .survival-bottom h1 {
    font-size: 3rem;
  }

  .survival-bottom .contentt h2 {
    font-size: 2.5rem;
  }

  .survival-bottom .contentt p {
    font-size: 2rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .survival {
    width: 72rem;
  }

  .survival h1 {
    font-size: 3rem;
  }

  .survival-bottom h1 {
    font-size: 3rem;
  }

  .survival-bottom .contentt h2 {
    font-size: 2.5rem;
  }

  .survival-bottom .contentt p {
    font-size: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .survival {
    width: 72rem;
  }

  .survival h1 {
    font-size: 3rem;
  }

  .survival-bottom h1 {
    font-size: 3rem;
  }

  .survival-bottom .contentt h2 {
    font-size: 2.5rem;
  }

  .survival-bottom .contentt p {
    font-size: 2rem;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .survival {
    width: 80rem;
  }

  .survival h1 {
    font-size: 3rem;
  }


  .contentt {
    width: 100%;
  }

  .survival-bottom h1 {
    font-size: 3rem;
  }

  .survival-bottom .contentt h2 {
    font-size: 2.5rem;
  }

  .survival-bottom .contentt p {
    font-size: 2rem;
  }
}
