.who-we-are {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  background-color: #344c3d;
  padding: 3rem;
}

.who-we-are-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.who-we-are-left h1 {
  font-size: 35px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
  width: 36%;
}

.who-we-are-content {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.who-we-are-left {
  width: 55%;
}

.who-we-are-left p {
  font-size: 20px;
  text-align: justify;
  line-height: 2;
  color: #fff;
}

.who-we-are-right {
  width: 45%;
}

.who-we-are-right img {
  height: 20rem;
}

/* media queries  */

@media (min-width: 320px) and (max-width: 480px) {
  .who-we-are {
    width: 72rem;
  }

  .who-we-are-content {
    display: flex;
    flex-direction: column;
  }

  .who-we-are-left {
    width: 100%;
  }

  .who-we-are-left h1 {
    text-align: center;
    width: 100%;
    border-bottom: none;
  }

  .who-we-are-left p {
    text-align: center;
    line-height: 2;
    font-size: 2rem;
  }

  .who-we-are-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .who-we-are-right img {
    height: 30rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .who-we-are {
    width: 72rem;
  }

  .who-we-are-content {
    flex-direction: column;
  }

  .who-we-are-left {
    width: 100%;
  }

  .who-we-are-left h1 {
    text-align: center;
    width: 100%;
    border-bottom: none;
  }

  .who-we-are-left p {
    font-size: 1.5rem;
  }

  .who-we-are-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .who-we-are-right img {
    height: 25rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .who-we-are {
    width: 71rem;
  }

  .who-we-are-left {
    width: 50%;
  }

  .who-we-are-right {
    /* width: %; */
  }

  .who-we-are-left h1 {
    width: 100%;
    border-bottom: none;
  }

  .who-we-are-right img {
    height: 18rem;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .who-we-are {
    width: 75rem;
  }

  .who-we-are-left {
    width: 50%;
  }

  .who-we-are-left h1 {
    width: 100%;
    border-bottom: none;
  }

  .who-we-are-right {
    width: 45%;
  }

  .who-we-are-right img {
    height: 21rem;
  }
}

@media (min-width: 1281px) {
  .who-we-are {
    /* width: 72rem; */
  }

  .who-we-are-left {
    width: 50%;
  }

  .who-we-are-left h1 {
    width: 100%;
    border-bottom: none;
  }

  .who-we-are-right {
    width: 45%;
  }

  .who-we-are-right img {
    height: 21rem;
  }
}
