.report{
  background-color: #344C3D;
  padding:  30px;
  margin: 100px 30px;
  color: #fff;
}

.report-contents {
  /* margin-bottom: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report-content h1 {
  font-size: 35px;
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
  margin-bottom: 20px;
  border-bottom: 2px solid #fff;
}
.report-content p {
  text-transform: capitalize;
  font-size: 20px;
  line-height: 80px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}

.report-card {
  height: 28rem;
  border-radius: 15px;
  background-color: #fff;
  margin-bottom: 50px;
  
}

.report-card img {
  height: 25rem;
}

.report-card h2 {
  text-align: center;
  text-transform: capitalize;
  color: #344C3D;
}

.report-cta {
  /* border-top: 4px solid white; */
  /* border-right: 4px solid white; */
  color: #344C3D;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 26px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  /* background-color: none; */
  outline: none;
  border: none;
}

.report-cta:hover {
  color: black;
  background-color: #aecab9;
  /* transform: translateY(-50%); */
}
