.report {
  background-color: #344c3d;
  padding: 30px;
  margin: 100px 30px;
  color: #fff;
}

.report-contents {
  /* margin-bottom: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report-content h1 {
  font-size: 35px;
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
  margin-bottom: 20px;
  border-bottom: 2px solid #fff;
}
.report-content p {
  text-transform: capitalize;
  font-size: 20px;
  line-height: 80px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}

.report-card {
  height: 28rem;
  border-radius: 15px;
  background-color: #fff;
  margin-bottom: 50px;
}

.report-card img {
  height: 25rem;
}

.report-card h2 {
  text-align: center;
  text-transform: capitalize;
  color: #344c3d;
}

.report-cta {
  color: #344c3d;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 26px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  outline: none;
  border: none;
}


.report-cta {
  position: relative;
  background: #344c3d;
  color: white;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  z-index: 1;
}

/* Moving outer border */
.report-cta::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: calc(90% + 10px);
  height: calc(90% + 10px);
  border-radius: 10px;
  border: 3px solid transparent;
  animation: moveAround 4s linear infinite;
}

/* Keyframes to move the border */
@keyframes moveAround {
  0% {
    border-top-color: white;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25% {
    border-top-color: transparent;
    border-right-color: white;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: white;
    border-left-color: transparent;
  }
  75% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: white;
  }
  100% {
    border-color: #344c3d;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}


@media (min-width: 320px) and (max-width: 480px) {
  .report {
    width: 72rem;
  }

  .report-card {
    height: 27rem;
    align-items: center;
  }

  .report-card img {
    height: 23rem;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .report {
    width: 72rem;
  }

  .report-card {
    height: 27rem;
    align-items: center;
  }

  .report-card img {
    height: 23rem;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .report {
    width: 72rem;
  }

  .report-card {
    height: 27rem;
    align-items: center;
  }

  .report-card img {
    height: 23rem;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .report {
    width: 72rem;
  }

  .report-card {
    height: 27rem;
    align-items: center;
  }

  .report-card img {
    height: 23rem;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .report {
    width: 72rem;
  }

  .report-card {
    height: 27rem;
    align-items: center;
  }

  .report-card img {
    height: 23rem;
    margin-bottom: 0.5rem;
  }
}
