.report {
  background-color: #344c3d;
  padding: 5rem 1rem;
  margin: 2rem;
  color: #fff;
  scroll-margin-top: 100px;
}

.report-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report-content h1 {
  font-size: 35px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
.report-content p {
  text-transform: capitalize;
  font-size: 20px;
}

.card {
  width: 100%;
  padding: 20px 0;
}

.report-card {
  height: 25%;
  width: 22rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 1rem 0.5rem;
  text-align: center;
}

.report-cards{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.report-card img {
  height: 20rem;
  width: 20rem;
  /* object-fit: cover; */
}

.report-card h2 {
  color: #344c3d;
  text-transform: capitalize;
  margin-top: 1rem;
}

.report-cta {
  background-color: #fff;
  color: #344c3d;
  outline: none;
  border: none;
  width: 9rem;
  height: 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1rem;
}

@media (min-width: 320px) and (max-width: 480px) {
  .report {
    width: 72rem;
  }

  .card {
    width: 33%;
    padding: 20px 0;
  }
  .report-card {
    height: 27rem;
    width: fit-content;
  }

  .report-card img {
    height: 21rem;
    width: 22rem;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .report {
    width: 72rem;
  }

  .card {
    width: 33%;
    padding: 20px 0;
  }
  .report-card {
    height: 27rem;
    width: fit-content;
  }

  .report-card img {
    height: 21rem;
    width: 22rem;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .report {
    width: 72rem;
  }

  .card {
    width: 70%;
    padding: 20px 0;
  }
  .report-card {
    height: 27rem;
    width: fit-content;
  }

  .report-card img {
    height: 21rem;
    width: 22rem;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .report {
    width: 71rem;
  }

  .report-card {
    height: 27rem;
    align-items: center;
  }

  .report-card img {
    height: 23rem;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .report {
    width: 75rem;
  }

  .report-card {
    height: 27rem;
    align-items: center;
  }

  .report-card img {
    height: 23rem;
    margin-bottom: 0.5rem;
  }
}
