.navbar {
  padding: 20px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1111;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.navbar .logo {
  width: 150px;
  color: #344c3d;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 50px;
  color: black;
  font-size: 18px;
  font-weight: 300;
}

.navbar-menu a:hover {
  color: #344c3d;
}

.navbar-cta {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.navbar-image {
  background-color: #d3d6d4;
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
}

.navbar-image img {
  height: 1.3rem;
  transition: filter 0.3s ease-in-out;
}

/* Hover effect */
.navbar-image:hover {
  background-color: #344c3d;
}

.navbar-image:hover img {
  /* filter: brightness(0) saturate(100%) invert(34%) sepia(86%) saturate(380%) hue-rotate(82deg) brightness(90%) contrast(87%); */
  filter: brightness(0) invert(1);
}

.emergency-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.emergency-contact p {
  font-size: 1rem;
}

.emergency-contact span {
  font-weight: 500;
  font-size: 1.2rem;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #344c3d;
  font-weight: 500;
}

.navbar a.active {
  color: #344c3d;
}

.beeping-image {
  animation: pulse 1s infinite ease-in-out;
}

.hamburger {
  font-size: 1.7rem;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* media queries */
@media (min-width: 1281px) {
  .hamburger {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbar {
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hamburger {
    font-size: 3rem;
  }

  .navbar .logo {
    font-size: 4rem;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 7rem;
    background-color: white;
    position: absolute;
    width: 320px;
    top: -900px;
    right: 0;
    z-index: 10;
    transition: all 0.7s ease-in;
    padding: 2rem 3rem;
    height: 50rem;
  }

  .navbar-menu.active {
    top: 100%;
    transition: all 0.7s ease-in;
  }

  .navbar-menu a {
    font-size: 2rem;
  }

  .navbar-cta {
    margin-left: 15rem;
  }

  .navbar .active {
    border: none;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .hamburger {
    font-size: 3rem;
  }

  .navbar .logo {
    font-size: 4rem;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    position: absolute;
    width: 320px;
    top: -900px;
    right: 0;
    z-index: 10;
    transition: all 0.7s ease-in;
    padding: 2rem 3rem;
  }

  .navbar-menu.active {
    top: 100%;
    transition: all 0.7s ease-in;
  }

  .navbar-menu a {
    font-size: 2rem;
  }

  .navbar-cta {
    display: none;
  }

  .navbar .active {
    border: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .hamburger {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hamburger {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .hamburger {
    display: none;
  }
}
