.navbar {
  padding: 20px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1111;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.navbar .logo {
  width: 150px;
  color: #344c3d;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 50px;
  color: black;
  font-size: 18px;
  font-weight: 300;
}

.navbar-menu a:hover {
  color: #344c3d;
}

.navbar-cta img {
  margin-right: 10px;
  height: 30px;
}

.navbar-cta button {
  border-top: 4px solid #344c3d;
  border-right: 4px solid #344c3d;
  color: #344c3d;
  font-size: 18px;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  background-color: white;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #344c3d;
  font-weight: 500;
}

.navbar a.active {
  color: #344c3d;
}

.emergency-contact {
  font-weight: 700;
}

.beeping-image {
  animation: pulse 1s infinite ease-in-out;
}

.hamburger {
  font-size: 1.7rem;
  cursor: pointer;
}


@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* media queries */
@media (min-width: 1281px) {
  .hamburger {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 700px) {
  .hamburger {
    display: block;
    font-size: 1.5rem;
  }

  .navbar-menu {
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    position: absolute;
    width: 270px;
    height: 100vh;
    top: -800px;
    right: 0;
    z-index: 10;
    transition: all 0.7s ease-in;
    padding-left: 3rem;
  }

  .navbar-menu.active {
    top: 100%;
    transition: all 0.7s ease-in;
  }

  .navbar-menu a {
    font-size: 24px;
  }

  .navbar-menu {
    gap: 20px;
  }

  .navbar-cta {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .hamburger {
    display: block;
    font-size: 1.5rem;
  }

  .navbar-menu {
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    position: absolute;
    width: 270px;
    height: 100vh;
    top: -800px;
    right: 0;
    z-index: 10;
    transition: all 0.7s ease-in;
    padding-left: 3rem;
  }

  .navbar-menu.active {
    top: 100%;
    transition: all 0.7s ease-in;
  }

  .navbar-menu a {
    font-size: 24px;
  }

  .navbar-menu {
    gap: 20px;
  }

  .navbar-cta {
    display: none;
  }
}

@media (min-width: 701px) and (max-width: 1024px) and (orientation: landscape) {
  .hamburger {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .hamburger {
    display: none;
  }
}

/* @media (max-width: 1050) {
  .navbar .logo {
    width: 140px;
  }

  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }

  .navbar-right {
    gap: 30px;
  }

  .navbar-right img {
    width: 22px;
  }

  .navbar-right button {
    padding: 8px 25px;
  }
}

@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }

  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }

  .navbar-right {
    gap: 20px;
  }

  .navbar-right img {
    width: 20px;
  }

  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }
} */
