.navbar {
  padding: 20px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1111;
  background-color: white;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); */
}

.navbar .logo {
  width: 150px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 50px;
  color: black;
  font-size: 18px;
  font-weight: 300;
}

.navbar-menu a:hover {
  color: #ffb400;
}

.navbar-cta button {
  background: #ffb400;
  color: white;
  font-size: 16px;
  padding: 10px 26px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
  border: none;
  outline: none;
}

.navbar .active {
  padding-bottom: 2px;
  /* border-bottom: 2px solid #ffb400; */
  font-weight: 500;
}

.navbar a.active {
  color: #ffb400;
}

.emergency-contact {
  font-weight: 600;
}

.hamburger {
  font-size: 1.7rem;
  cursor: pointer;
}

/* media queries */
@media (min-width: 1281px) {
  .hamburger {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 700px) {
  .hamburger {
    display: block;
    font-size: 1.5rem;
  }

  .navbar-menu {
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    position: absolute;
    width: 270px;
    height: 100vh;
    top: -800px;
    right: 0;
    z-index: 10;
    transition: all 0.7s ease-in;
    padding-left: 3rem;
  }

  .navbar-menu.active {
    top: 100%;
    transition: all 0.7s ease-in;
  }

  .navbar-menu a {
    font-size: 24px;
  }

  .navbar-menu {
    gap: 20px;
  }

  .navbar-cta {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .hamburger {
    display: block;
    font-size: 1.5rem;
  }

  .navbar-menu {
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    position: absolute;
    width: 270px;
    height: 100vh;
    top: -800px;
    right: 0;
    z-index: 10;
    transition: all 0.7s ease-in;
    padding-left: 3rem;
  }

  .navbar-menu.active {
    top: 100%;
    transition: all 0.7s ease-in;
  }

  .navbar-menu a {
    font-size: 24px;
  }

  .navbar-menu {
    gap: 20px;
  }

  .navbar-cta {
    display: none;
  }
}

@media (min-width: 701px) and (max-width: 1024px) and (orientation: landscape) {
  .hamburger {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .hamburger {
    display: none;
  }
  
}

/* @media (max-width: 1050) {
  .navbar .logo {
    width: 140px;
  }

  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }

  .navbar-right {
    gap: 30px;
  }

  .navbar-right img {
    width: 22px;
  }

  .navbar-right button {
    padding: 8px 25px;
  }
}

@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }

  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }

  .navbar-right {
    gap: 20px;
  }

  .navbar-right img {
    width: 20px;
  }

  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }
} */
