.resources {
  margin: 30px 30px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-margin-top: 100px;
}

.resources-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.resources-top h1 {
  font-size: 35px;
  text-transform: uppercase;
  color: #344c3d;
  margin-bottom: 0.5rem;
}

.resources-top p {
  font-size: 1.5rem;
 margin-bottom: 0.5rem;
}

.resources-content {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 3rem;
}

.resource-cards {
  display: flex;
}

.resource-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.image-container {
  position: relative;
  display: inline-block;
}

.resource-card img {
  height: 14rem;
  border-radius: 3px;
  transition: opacity 0.3s ease-in-out;
}

.arrow-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.resource-card:hover .arrow-overlay {
  opacity: 1;
}

.arrow-icon {
  font-size: 3rem;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.resource-card h2 {
  text-align: center;
  text-transform: uppercase;
  color: #344c3d;
}


@media (min-width: 320px) and (max-width: 480px) {
  .resources {
    width: 72rem;
  }

  .resources-top p {
    font-size: 2rem;
    width: 100%;
  }

  .resources-content {
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }

  .resource-card img {
    height: 20rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .resources {
    width: 72rem;
  }

  .resource-card img {
    height: 12rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .resources {
    width: 71rem;
  }

  .resource-card img {
    height: 12rem;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .resources {
    width: 75rem;
  }

  .resource-card img {
    height: 12rem;
  }
}
