.legalAid {
  margin-top: 4rem;
  padding: 0 2rem;
}

.legalAid-top {
  background: linear-gradient(
      0deg,
      rgba(41, 41, 41, 0.659),
      rgba(48, 48, 48, 0.664)
    ),
    url("../../../assets/aid.jpg");
  /* background-image: url("../../../assets/aid.jpg"); */
  background-size: cover;
  background-position: center;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.legalAid-top h1 {
  font-size: 3rem;
  color: white;
}

.legalAid video {
  height: 20rem;
  width: 40%;
  margin-top: 5rem;
  margin-left: 30%;
}

.legalAid-bottom {
  padding: 3rem 4rem;
}

.legalAid-bottom h1 {
  /* text-align: center; */
  text-transform: uppercase;
}

.contentt {
  margin-top: 2rem;
  width: 90%;
}

.contentt h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.contentt p {
  font-size: 1.3rem;
  text-align: justify;
}

.contentt:hover h2 {
  color: #344c3d;
  width: fit-content;
  border-bottom: 3px solid #344c3d;
}

@media (min-width: 320px) and (max-width: 480px) {
  .legalAid {
    width: 72rem;
    height: 100%;
    background-color: red;
  }

  .legalAid-top h1 {
    font-size: 4rem;
  }

  .legalAid-bottom h1 {
    font-size: 3rem;
  }

  .contentt {
    width: 100%;
  }

  .contentt h2 {
    font-size: 2rem;
  }

  .contentt p {
    font-size: 1.7rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .legalAid {
    width: 72rem;
    height: 100%;
  }

  .legalAid-top h1 {
    font-size: 4rem;
  }

  .legalAid-bottom h1 {
    font-size: 2rem;
  }

  .contentt {
    width: 100%;
  }

  .contentt h2 {
    font-size: 2rem;
  }

  .contentt p {
    font-size: 1.7rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .legalAid {
    width: 72rem;
    height: 100%;
  }

  .legalAid-top h1 {
    font-size: 4rem;
  }

  .legalAid-bottom h1 {
    font-size: 2rem;
  }

  .contentt {
    width: 100%;
  }

  .contentt h2 {
    font-size: 2rem;
  }

  .contentt p {
    font-size: 1.7rem;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .legalAid {
    width: 80rem;
    height: 100%;
  }

  .legalAid-top h1 {
    font-size: 4rem;
  }

  .legalAid-bottom h1 {
    font-size: 2rem;
  }

  .contentt {
    width: 100%;
  }

  .contentt h2 {
    font-size: 1.5rem;
  }

  .contentt p {
    font-size: 1.2rem;
  }
}
