.selfDefence {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.selfDefence-top {
  background-image: url("../../../assets/aid.png");
  background-size: cover;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.selfDefence-top h1 {
  font-size: 3rem;
  color: white;
}

.selfDefence-bottom {
  padding: 3rem 4rem;
}

.selfDefence-bottom h1 {
  width: fit-content;
  text-transform: uppercase;
}

.contentt {
  margin-top: 2rem;
}

.contentt p {
  font-size: 1.2rem;
  width: 90%;
}

.contentt li {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.content h1 {
  margin-bottom: 1rem;
  width: fit-content;
}

@media (min-width: 320px) and (max-width: 480px) {
  .selfDefence {
    width: 72rem;
  }

  .selfDefence h1 {
    font-size: 3rem;
  }

  .selfDefence-bottom h1 {
    font-size: 2.5rem;
  }

  .selfDefence-bottom .contentt ul li {
    font-size: 1.5rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .selfDefence {
    width: 72rem;
  }

  .selfDefence h1 {
    font-size: 3rem;
  }

  .selfDefence-bottom h1 {
    font-size: 2.5rem;
  }

  .selfDefence-bottom .contentt ul li {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .selfDefence {
    width: 72rem;
  }

  .selfDefence h1 {
    font-size: 3rem;
  }

  .selfDefence-bottom h1 {
    font-size: 2.5rem;
  }

  .selfDefence-bottom .contentt ul li {
    font-size: 1.5rem;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .selfDefence {
    width: 80rem;
  }

  .selfDefence h1 {
    font-size: 3rem;
  }

  .selfDefence-bottom h1 {
    font-size: 2.5rem;
  }

  .selfDefence-bottom .contentt ul li {
    font-size: 1.5rem;
  }
}
